h1 {
    color: blueviolet;
    font-family:'Courier New', Courier;
    }
h2{color: yellowgreen;
    font-family:'Courier New', Courier, monospace}
h3{color: rgb(226, 171, 43);
    font-family:'Courier New', Courier, monospace}